#text1
{
    height:200px;
    font-size:14pt;
}
#title{
    color: black;
    font-weight: bold;
    font-size: xx-large;
}
.image123{
  max-width:750px;
  margin:0px auto;
}
.imgContainer{
  float:left;
  width:48%;
  padding:10px 0px;
}
.imgContainer img{
  width:100%;
  height:auto;
  max-width:100%;
  max-height:100%;
  margin:0px auto;
}
.imgContainer p{
  text-align:center;
  background-color:#ff0000;
  color:#ffffff;
  padding:5px 0px;
  margin:5px 0px;
}

