#text1
{
    height:200px;
    font-size:14pt;
}
#title{
    color: black;
    font-weight: bold;
    font-size: xx-large;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  white-space: nowrap;
}
