<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu for {{ title }}</title>
    <!-- bootstrap incl -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="/static/cc_logo.png" type="image/png">

    <!-- Navbar (Sits on top) -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/cc_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Cloud Cooked
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/menu">Menu <span class="sr-only"></span> </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/orders">Orders <span class="sr-only"></span> </a>
                </li>
            </ul>
        </div>
    </nav>
</head>

<body>
<section class="container">
    <div class="jumbotron">
        <h1>Welcome to Cloud Cooked </h1>
        <p>We have great food here</p>
    </div>
    <center>
        <style>
            .limit{
                width:500px;
                word-wrap: break-word;
            }
        </style>
        <div class = "limit">
            <center><h1><b><u>About Cloud Cooked</u></b></h1>
            <p>Founded in 2022, Cloud Cooked provides the best Italian experience in West Chester. Our beautiful restauraunt features gorgeous Italian decor. Chef Petrosky's menu offers some of the best Italian cuisine in town. We have incredibly friendly staff and even offer delivery</p>
            <p>
            So what are you waiting for? Come enjoy your next meal at Cloud Cooked, and feel like you're in Italy the second you walk through our doors!
            </p>
        </div>
    </center>
        <style>
         * {
            box-sizing: border-box;
            }
        .imageColumn {
            float: left;
            width: 33%;
            padding: 5px;
            }
         .border{
            border: 5px solid #555;
            }
        </style>
        <center>
            <div class="alignRow">
                <div class="imageColumn">
                    <div class ="border">
                        <img src="/static/images/restaurantdecor.jpg" height=400 width=300 style="display:inline-block;">
                    </div>
                    <p><b>Beautiful Italian Decor</b></p>
                </div>
                <div class="imageColumn">
                    <div class ="border">
                        <img src="/static/images/pizzachef.jpg" height=400 width=300 style="display:inline-block;">
                    </div>
                    <p><b>Delicious Italian Cuisine</b></p>
                </div>
                <div class="imageColumn">
                    <div class ="border">
                        <img src="/static/images/delivery.jpg" height=400 width=300 style="display:inline-block;">
                    </div>
                    <p><b>Quality Delivery Services</b></p>
                </div>
            </div>>
        </center>
</section>
</body>
