<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu for {{ title }}</title>
    <!-- bootstrap incl -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="/static/cc_logo.png" type="image/png">

    <!-- Navbar (Sits on top) -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/cc_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Cloud Cooked
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/menu">Menu <span class="sr-only">(current)</span> </a>
                </li>
            </ul>
        </div>
    </nav>
</head>

<body>
<section class="container">
    <div class="jumbotron">
        <h1>Welcome to Cloud Cooked </h1>
        <p>We have great food here</p>
    </div>
    <style src="/static/css/style.css"></style>
    <div id="banner">
            <div class="inline-block">
                <img src ="/static/images/restaurantdecor.jpg" height=200 width=200>
                <p> image one </p>
            </div>
            <div class="inline-block">
                <img src ="/static/images/pizzachef.jpg" height=200 width=200>
                <p> image two </p>
            </div>
            <div class="inline-block">
                <img src ="/static/images/delivery.jpg" height=200 width=200>
                <p> image three </p>
            </div>
          </div>
    </section>
</body>
