<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu for RESTAURANT</title>
    <!-- bootstrap incl -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="/static/cc_logo.png" type="image/png">

    <!-- Navbar (Sits on top) -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/cc_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Bootstrap
        </a>
    </nav>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>Menu for $TODO </h1>
        <p>We have great food here</p>
    </div>
    <p>On the menu today:</p>
    <div id = sql_menu>
    <div class="multi-carousel vertical" style="max-width: 20rem;">
        <div class="multi-carousel-inner">
            {%for i in range(0, len)%}
                <div class="multi-carousel-item">
                    <img
                    src="{{ items[i].url}}"
                    alt="Picture of {{items[i].name}}"
                    class="w-100"
                    />
                    <p>{{items[i].name}} - ${{items[i].price}}</p>
                </div>
            {%endfor%}
        </div>
    </div>
    <button class="carousel-control-prev" type="button" tabindex="0" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" tabindex="0" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>
</div>
</body>

<p>contact stuff at bottom</p>
</html>