<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu for {{ title }}</title>
    <!-- bootstrap incl -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="/static/cc_logo.png" type="image/png">
    <script type="text/javascript" src="/static/scripts/menu_script.js"></script>

    <!-- Navbar (Sits on top) -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/cc_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Cloud Cooked
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/menu">Menu <span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/orders">Orders <span class="sr-only"></span> </a>
                </li>
            </ul>
        </div>
    </nav>
</head>

<body>
<section class="container">
    <div class="jumbotron">
        <h1>Menu for Today</h1>
    </div>
    <section class="py-5">
        <form action="/order_submitted" method="POST">
            {% for i in range(0, len) %}
                <label for="{{ items[i].name }}_sel">{{ items[i].name }}: ${{ items[i].price }}</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="number" id="inlineCheckbox1" value="0"
                           name="{{ items[i].name }}_quan">
                    <label class="form-check-label" for="inlineCheckbox1">Quantity of {{ items[i].name }}</label>
                </div><br>
            {% endfor %}
            <div class="form-group">
                <style src="/static/css/menu_stylesheet.css"></style>
                <input type="name"
                       class="form-control"
                       name="name"
                       placeholder="Your Name">

                <input type="email"
                       class="form-control"
                       name="email"
                       placeholder="youremail@website.com">

                <input type="tel"
                       class="form-control"
                       name="phone"
                       placeholder="Your Phone Number">

                <input type="street"
                       class="form-control"
                       name="street"
                       placeholder="Street">

                <input type="city"
                       class="form-control"
                       name="city"
                       placeholder="City">

                <input type="state"
                       class="form-control"
                       name="state"
                       placeholder="State">

                <input type="zip"
                       class="form-control"
                       name="zip"
                       placeholder="Zip">
            </div>
            <input type="submit" value="Submit">
        </form>
    </section>
</section>
</body>
</html>