<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="container">
    <div class="jumbotron">
        <h1>A list of our restaurants</h1>
    </div>
    {% for i in range(0, len) %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{ items[i] }}</h5>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/menu/{{ item[i] }}">See the
                        menu!</a></div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
</body>
</html>