<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Active Orders</title>
    <!-- bootstrap incl -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="/static/cc_logo.png" type="image/png">

    <!-- Navbar (Sits on top) -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/cc_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Cloud Cooked
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/menu">Menu <span class="sr-only"></span> </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/orders">Orders <span class="sr-only">(current)</span> </a>
                </li>
            </ul>
        </div>
    </nav>
</head>

<body>
<section class="container">
    <div class="jumbotron">
        <h1>Active Orders</h1>
    </div>
    <section class="py-5">
        <form action="/orders" method="POST">
            {% for i in range(0, len) %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="span1">
                                    <!-- Product name-->
                                    <h4 class="fw-bolder">Customer Information:</h4>
                                    <p>Name: {{ items[i].name }}</p>
                                    <p>Street: {{ items[i].address }}</p>
                                    <p>City: {{ items[i].city }}</p>
                                    <p>Zip: {{ items[i].zip }}</p>
                                    <p>Email: {{ items[i].email }}</p>
                                    <p>Phone Number: {{ items[i].phone_number }}</p>
                                </div>
                                <div class="span2">
                                    <br>
                                </div>
                                <div class="span3 pull-right">
                                    <h4 class="fw-bolder">Order Information</h4>
                                    <p>{{ orders[i] }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <p>Select for Delivery</p>
                            <input type="checkbox" class="checkbox" name="orderid_{{ items[i].id }}"></div>
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Generate Route">
        </form>
    </section>
</section>
</body>
</html>
